package pages

import (
	"github.com/deeploy-sh/deeploy/internal/server/ui/layouts"
	"github.com/deeploy-sh/deeploy/internal/shared/ui/modules"
)

templ CliAuthSuccess() {
	@layouts.AuthLayout() {
		<div class="flex flex-col items-center gap-4">
			<div class="flex items-center gap-2">
				@modules.BlobIcon()
				<span class="font-bold">deeploy</span>
			</div>
			<p class="text-foreground">Connected!</p>
			<p class="text-muted-foreground">You can close this window</p>
		</div>
	}
}
