package layouts

import "github.com/deeploy-sh/deeploy/internal/shared/ui/modules"

templ AuthLayout() {
	@BaseLayout() {
		<div class="min-h-screen flex justify-center items-center">
			{ children... }
			<div class="absolute bottom-4 right-4">
				@modules.ThemeSwitcher()
			</div>
		</div>
	}
}
